In [46]:
import pandas as pd
name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]

straw_hat_dict = {"name": name,
                  "age": age
}

straw_hat_df = pd.DataFrame(straw_hat_dict)
print(type(straw_hat_df))
straw_hat_df

<class 'pandas.core.frame.DataFrame'>

   age               name
0   19    Monkey D. Luffy
1   21       Roronoa Zoro
2   20               Nami
3   19              Usopp
4   21     Vinsmoke Sanji
5   17  Tony Tony Chopper
6   30         Nico Robin
7   36             Franky
8   90              Brook

In [115]:
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)

# 篩選小於 30 歲的船員
filter = straw_hat_df.ix[:, "age"] <= 30
straw_hat_df[filter]


print(type(straw_hat_df))
print(type(filter))
filter

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8    False
Name: age, dtype: bool

In [98]:
import pandas as pd # 引用套件並縮寫為 pd

name = ["Monkey D. Luffy", "Roronoa Zoro", "Nami", "Usopp", "Vinsmoke Sanji", "Tony Tony Chopper", "Nico Robin", "Franky", "Brook"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]
is_male = [True, True, False, True, True, True, False, True, True]

straw_hat_dict = {"name": name,
                  "age": age,
                  "is_male": is_male
}

straw_hat_df = pd.DataFrame(straw_hat_dict)

print(straw_hat_df.shape) # 回傳列數與欄數
print("---")
print(straw_hat_df.describe()) # 回傳描述性統計
print("---")
print(straw_hat_df.head(3)) # 回傳前三筆觀測值
print("---")
print(straw_hat_df.tail(3)) # 回傳後三筆觀測值
print("---")
print(straw_hat_df.columns) # 回傳欄位名稱
print("---")
print(straw_hat_df.index) # 回傳索引值

(9, 3)
---
             age
count   9.000000
mean   30.333333
std    23.205603
min    17.000000
25%    19.000000
50%    21.000000
75%    30.000000
max    90.000000
---
   age is_male             name
0   19    True  Monkey D. Luffy
1   21    True     Roronoa Zoro
2   20   False             Nami
---
   age is_male        name
6   30   False  Nico Robin
7   36    True      Franky
8   90    True       Brook
---
Index(['age', 'is_male', 'name'], dtype='object')
---
RangeIndex(start=0, stop=9, step=1)

In [72]:
class Strawhat:
    '''
    這是一個叫做 Strawhat 的類別
    '''
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_age_2_yr_ago(self):
        age_2_yr_age = self.age - 2
        print(self.name, "兩年前是", age_2_yr_age, "歲。")

# 根據 Strawhat 類別建立物件
luffy = Strawhat("蒙其·D·魯夫", 19)

# 使用 luffy 的 print_age_2_yr_ago() 方法
luffy.print_age_2_yr_ago()

蒙其·D·魯夫 兩年前是 17 歲。

In [6]:
my_str = "python for Data science!!!"

print(my_str.startswith("Python"))
print(my_str.endswith("!"))
print(my_str.find("for"))
print(my_str.count("!"))
print(my_str.capitalize())
print(my_str.title())
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase())
print(my_str.replace("science", "analysis"))

False
True
7
3
Python for data science!!!
Python For Data Science!!!
PYTHON FOR DATA SCIENCE!!!
python for data science!!!
PYTHON FOR dATA SCIENCE!!!
python for Data analysis!!!

In [14]:
age = [19, 21, 20, 19, 21, 17, 30, 36]

age.append(90)
print(age)
brook_age = age.pop()
print(brook_age)
print(age)
age.insert(8, brook_age)
age.remove(brook_age)
print(age.index(21))
age.append(90)
age.append(90)
print(age.count(90))
age.sort()
print(age)
age.reverse()
print(age)

[19, 21, 20, 19, 21, 17, 30, 36, 90]
90
[19, 21, 20, 19, 21, 17, 30, 36]
1
2
[17, 19, 19, 20, 21, 21, 30, 36, 90, 90]
[90, 90, 36, 30, 21, 21, 20, 19, 19, 17]

In [15]:
team_name = "金州勇士隊"
wins = 21
losses = 4
win_percentage = 0.84
is_on_winning_streak = True

golden_state_warriors = {
    "team_name": team_name,
    "wins": wins,
    "losses": losses,
    "win_percentage": win_percentage,
    "is_on_winning_streak": is_on_winning_streak
}

print(golden_state_warriors.get("wins"))
print(golden_state_warriors.keys()) # 用 list 把結果轉換
print(golden_state_warriors.values()) # 用 list 把結果轉換

21
dict_keys(['win_percentage', 'is_on_winning_streak', 'team_name', 'losses', 'wins'])
dict_values([0.84, True, '金州勇士隊', 4, 21])

In [16]:
import numpy as np

print(np.zeros(6)) # 六個元素均為零的 1d array
print(np.arange(11)) # 十一個元素為 0 到 10 的 1d array
print(np.arange(1, 11)) # 十個元素為 1 到 10 的 1d array
print(np.arange(10).astype(np.str)) # 利用 astype() 方法轉換為文字 
print(np.arange(10).reshape(2, 5)) # 利用 reshape() 轉換為矩陣
print(np.arange(10).reshape(2, 5).T) # 利用 T 屬性轉置
print(np.random.normal(size = 10)) # 生成 10 組標準常態分配（平均值為 0，標準差為 1 的常態分配）隨機變數
print(np.random.uniform(size = 10)) # 生成 10 組介於 0 與 1 之間均勻分配隨機變數

[ 0.  0.  0.  0.  0.  0.]
[ 0  1  2  3  4  5  6  7  8  9 10]
[ 1  2  3  4  5  6  7  8  9 10]
['0' '1' '2' '3' '4' '5' '6' '7' '8' '9']
[[0 1 2 3 4]
 [5 6 7 8 9]]
[[0 5]
 [1 6]
 [2 7]
 [3 8]
 [4 9]]
[ 0.65110539 -0.41416267  1.28655613  0.37461533 -0.34172575  1.21339976
  0.51818595 -0.93994997 -0.76674548 -0.3431876 ]
[ 0.67158004  0.27388131  0.76439097  0.27507498  0.71854902  0.84811751
  0.6720321   0.79875613  0.06430746  0.0227234 ]

In [23]:
import pandas as pd

name = ["蒙其·D·魯夫", "羅羅亞·索隆", "娜美", "騙人布", "賓什莫克·香吉士", "多尼多尼·喬巴", "妮可·羅賓", "佛朗基", "布魯克"]
age = [19, 21, 20, 19, 21, 17, 30, 36, 90]

# 建立 dict
straw_hat_dict = {"name": name,
                  "age": age
}

# 建立 data frame
straw_hat_df = pd.DataFrame(straw_hat_dict)

# 刪除觀測值或欄位
straw_hat_df.drop(0, axis = 0)
straw_hat_df.drop(1, axis = 1)

# 選擇觀測值或欄位
straw_hat_df.ix[0, :]
straw_hat_df.ix[:, 0]
straw_hat_df.ix[0, 0]

# 透過布林值篩選
filter = straw_hat_df.age >= 30
straw_hat_df[filter]
filter = straw_hat_df.age < 30
filter_2 = straw_hat_df.name == "蒙其·D·魯夫"
straw_hat_df[filter & filter_2]

ValueError: labels [1] not contained in axis